.btnBannerContainer {
  height: 50vh;
  position: relative;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.link {
  text-align: start;
  position: absolute;
  left: 5%;
  bottom: 15%;
  padding-right: 3%;

  border: 1px solid white;
  border-radius: 5px;
  background-color: transparent;
  white-space: nowrap;
  font-family: 'Abhaya Libre', serif;
}

p {
  width: fit-content;
  color: white;
  margin: 3%;

}

.title {
  margin-top: 10%;
  font-size: 28px;
}
.discover {
  margin-bottom: 10%;
  margin-top: 0;
  font-size: 24px;
}
